# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# Cache files
*.log
*.cache

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Models
models/
# Ignore entire Dataset folder
Dataset/

uploads/